<!-- wp:template-part {"slug":"header","theme":"WPGranada","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|100","bottom":"var:preset|spacing|100","left":"var:preset|spacing|100","right":"var:preset|spacing|100"},"blockGap":"var:preset|spacing|60"},"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"backgroundColor":"primary-light","textColor":"black","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull has-black-color has-primary-light-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--100);padding-right:var(--wp--preset--spacing--100);padding-bottom:var(--wp--preset--spacing--100);padding-left:var(--wp--preset--spacing--100)"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"lineHeight":"1"}},"textColor":"primary","fontSize":"colossal","fontFamily":"heading"} -->
<h1 class="wp-block-heading has-text-align-center has-primary-color has-text-color has-heading-font-family has-colossal-font-size" style="line-height:1">404</h1>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"xx-large","fontFamily":"heading"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color has-heading-font-family has-xx-large-font-size">Página no encontrada</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"large","fontFamily":"body"} -->
<p class="has-text-align-center has-base-color has-text-color has-body-font-family has-large-font-size">Lo sentimos, la página que buscas no existe. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","textColor":"base","fontSize":"large","fontFamily":"body"} -->
<p class="has-text-align-center has-base-color has-text-color has-body-font-family has-large-font-size">Si crees que puede tratarse de un error contacte con nosotros.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<h3 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color">Realice su Búsqueda</h3>
<!-- /wp:heading -->

<!-- wp:search {"label":"","placeholder":"¿Qué estás buscando?","width":50,"widthUnit":"%","buttonText":"Buscar","buttonPosition":"button-inside","align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} /-->

<!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<h2 class="wp-block-heading has-base-color has-text-color has-link-color">Eventos Recientes</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="http://localhost:8882/eventos-y-noticias/">Ver Eventos</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">← Volver al inicio</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"WPGranada","area":"footer"} /-->